.cover__subtitle {
  margin: 32px 0 0;
  width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  z-index: 2;
}
@media screen and (max-width: 760px) {
  .cover__subtitle {
    margin-top: 16px;
    width: 279px;
    font-size: 14px;
    line-height: 16px;
  }
}